{% extends 'base.html.twig' %}

{# CHECK IF USER IS CONNECTED #}

{% block header %}
	Connect Four Game
	{% for flash_message in app.session.flashBag.get('notice') %}
		<div class="flash-notice">
			{{ flash_message }}
		</div>
	{% endfor %}
{% endblock %}


{% block body %}


	{% block playerOne %}
		<div class="player-container">
			<div class="player-content">
				<img src="/assets/img/icon_yellow.png" alt="" srcset="">
				<div class="player-info">
					<p class="text-center">{{game.getPlayerOne().username}}</p>
				</div>
			</div>
			<div class="bg-image">
				<img src="/assets/img/item_gameplayer.png" alt="" srcset="">
			</div>

			<p class="text-center">
				{% block statusOne %}{% endblock %}
			</p>
		</div>
	{% endblock %}

	<div id="game-container">
		{% block game %}{% endblock %}
	</div>


	{% block playerTwo %}
		<div class="player-container">
			<div class="player-content">
				<img src="/assets/img/icon_red.png" alt="" srcset="">
				<div class="player-info">
					<p class="text-center">{{game.getPlayerTwo().username}}</p>

				</div>
			</div>
			<div class="bg-image">
				<img src="/assets/img/item_gameplayer.png" alt="" srcset="">
			</div>
			<p class="text-center">
				{% block statusTwo %}{% endblock %}
			</p>

		</div>
	{% endblock %}

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/game.css') }}"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/game.js') }}"></script>

	<script>
		const eventSource = new EventSource("{{ mercure(['rounds+']) }}");
	eventSource.onmessage = () => location.reload(); // do something with the payload
	</script>
{% endblock %}
