{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/popup.css') }}"/>
{% endblock %}

{# {% block status %}
    Game over,
    {% if game.getWinner() %}
        {% set winner = game.getWinner() %}
        Winner is :
        <div class="badge {{ game.getPlayerColor(winner) }}"></div>
        {{ winner.getUsername() }}
    {% else %}
        Draw
    {% endif %}
{% endblock %}

{% block game %}
    {% set disabled = true %}
    {{ parent() }}
{% endblock %} 


A FINIRR

AJOUTER LES DIFFERENTS CAS

SI ON PERD ON REJOUE ET ON RETOURNE DANS LISTE D'ATTENTE
EGALITE SOIT ON REMATCH SOIT ON RETOURNE DANS LA LISTE D'ATTENTE
ON GAGNE SOIT ON RESTE SOIT ON RETOURNE DANS LA LISTE D'ATTENTE

CREE UN TEMPLATE "LISTE D'ATTENTE"

#}


{% block status %}
	<div class="popup">
		<div class="popup-content">
		{% if  app.session.get('player').username in game.result %}
			<h1 class="popup-title text-center">Félicitations {{app.session.get('player').username}}</h1>
			<p class="text-center">Vous avez gagné</p>
		{% elseif game.result == "TIE" %}
			<h1 class="popup-title text-center">Tant pis</h1>
			<p class="text-center">Vous êtes à égalité</p>


		{% else %}
			<h1 class="popup-title text-center">Dommage {{app.session.get('player').username}}</h1>
			<p class="text-center">Vous avez perdu</p>
			
			
		{% endif %}
			<div class="list-buttons">
				<form action="{{path('game_duo')}}" method="post">
			<input type="hidden" name="menu_choice" value="2">
			<button type="submit" class="game-button">
					CONTINUER
			</button>
			</form>
				<button class="game-button">
					<a href="{{path('app_menu')}}">
						ARRETER
					</a>

				</button>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
{% endblock %}
